{% extends 'base.html' %}

{% load static %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <h1>Averaged Event Data</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3" id="calendar-event-detail">
            <h2>Select Events</h2>
            <form action='.'> {{ form }}
                <br/><br/>
                <button>Filter Events</button> 
            </form>
        </div>
        <div class="col-md-9">
            <h2>Ticket Sales and Revenue</h2>
            <div id="chart-cont">
                <canvas id="chart" />
            </div>
            <pre>{{ curve_data }}</pre>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static "Chart.bundle.min.js" %}"></script>
    <script src="{% static "chosen_v1.6.2/chosen.jquery.min.js" %}"></script>
    <script>
        var chartCtx = document.getElementById("chart");
        var myChart = new Chart(chartCtx, {
            type: 'line',
            data: {
                datasets: [
                    {
                        label: 'Tickets Sold',
                        backgroundColor: "rgba(220,000,000,0.5)", 
                        borderColor: "#800", 
                        data: [
                        {% for x, tickets, _sales in curve_data %}
                            {x: {{ x }}, y: {{ tickets }} },
                        {% endfor %}
                        ],
                        borderWidth: 1
                    },
                    {
                        label: 'Revenue',
                        backgroundColor: "rgba(0,220,110,0.0)", 
                        borderColor: "#084",
                        yAxisID: 'right-scale',
                        data: [
                        {% for x, _tickets, sales in curve_data %}
                            {x: {{ x }}, y: {{ sales }} },
                        {% endfor %}
                        ],
                        borderWidth: 1
                    },
                    {
                        label: 'Ideal',
                        backgroundColor: "rgba(0,110,220,0.0)", 
                        borderColor: "#048",
                        data: [
                        {% for x, tickets in exp_data %}
                            {x: {{ x }}, y: {{ tickets }} },
                        {% endfor %}
                        ],
                        borderWidth: 1
                    }
                ]
            },
            options: {
                scales: {
                    yAxes: [
                        {
                            ticks: {
                                beginAtZero:true
                            }
                        }, {
                            id: 'right-scale',
                            ticks: {
                                beginAtZero:true
                            },
                            position: 'right'
                        }
                    ],
                    xAxes: [{
						type: 'linear',
						position: 'bottom'
                    }]
                }
            }
        });
        $('form select').chosen();
    </script>
{% endblock %}
