{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="{% static "bootstrap/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "bootstrap-calendar/css/calendar.css" %}">
        <link rel="stylesheet" href="{% static "DataTables/datatables.css" %}">
        <link rel="stylesheet" href="{% static "chosen_v1.6.2/chosen.css" %}">
        <link rel="stylesheet" href="{% static "style.css" %}">
        <title>{% block title %}Duetto VIP{% endblock %}</title>
    </head>

    <body>
		<nav class="navbar navbar-inverse">
		  <div class="container">
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
			  <a class="navbar-brand" href="/">
                  <img src="{% static "VIPLogo.png" %}" height="50"/>
              </a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
			  <ul class="nav navbar-nav">
				<li class="active"><a href="/">Home</a></li>
                <li><a href="{% url 'all_events' %}">Event Trends</a></li>
			  </ul>
			</div><!--/.nav-collapse -->
		  </div>
		</nav>

		<div class="container">
			{% block content %}{% endblock %}
		</div>

		{% block scripts %}
			<script src="{% static "underscore-min.js" %}"></script>
			<script src="{% static "jquery-3.1.1.min.js" %}"></script>
			<script src="{% static "bootstrap/bootstrap.min.js" %}"></script>
		{% endblock %}
    </body>

</html>
