{% extends 'base.html' %}

{% load static %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <h1>{{ event.name }} on {{ event.start_date }}</h1>
        </div>
        <div class="col-md-3" id="calendar-event-detail">
            <h3 id="calendar-title"></h3>
            <div id="calendar"></div>
            <br/><br/>
            <h3>Training Data Events</h3>
            <form action=''> {{ event_form }}
                <br/><br/>
                <button>Filter Events</button> 
            </form>
        </div>
        <div class="col-md-9">

		  <ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
			<li role="presentation"><a href="#transactions" aria-controls="profile" role="tab" data-toggle="tab">Transactions</a></li>
			<li role="presentation"><a href="#pricing" aria-controls="profile" role="tab" data-toggle="tab">Pricing</a></li>
			<li role="presentation"><a href="#segments" aria-controls="profile" role="tab" data-toggle="tab">Segments</a></li>
			<li role="presentation"><a href="#lostbusiness" aria-controls="profile" role="tab" data-toggle="tab">Lost Business</a></li>
		  </ul>

		  <div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="home">
				<h2>Ticket Sales and Revenue</h2>
                <div>
                    <canvas id="chart" />
                </div>
				<pre>{{ curve_data }}</pre>
			</div>

			<div role="tabpanel" class="tab-pane" id="transactions">
				<h2>Transactions</h2>
				<table class="table" id="transaction-data">
					<thead>
						<tr>
							<th>Customer</th>
							<th>Date</th>
							<th>Quantity</th>
							<th>Price</th>
							<th>Total</th>
						</tr>
					</thead>
					<tbody>
					{% for transaction in transactions %}
						<tr>
							<td>{{ transaction.customer_name }}</td>
							<td>{{ transaction.item_date }}</td>
							<td>{{ transaction.quantity }}</td>
							<td><sup>$</sup>{{ transaction.price }}</td>
							<td><sup>$</sup>{{ transaction.total_sale }}</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>

			<div role="tabpanel" class="tab-pane" id="pricing">
				<h2>Pricing</h2>

                <table class="table">
                    <tr>
                        <td><h3>Average price</h3></td>
                        <td><h3>${{ average_price| floatformat:2}}</h3></td>
                    </tr>
                    <tr>
                        <td><h3>Recommended price</h3></td>
                        <td><h3>${{ recommended_price| floatformat:2}}</h3></td>
                    </tr>
                </table>

                <h3>Predicted Sales</h3>
                <div>
                    <canvas id="pricing-chart1" />
                </div>
                    <h3>Difference Signal</h3>
                <div>
                    <canvas id="pricing-chart2" />
                </div>
            </div>

			<div role="tabpanel" class="tab-pane" id="segments">
				<h2>Item Point Segments Tickets</h2>
				<div id="segments-chart-cont"></div>
            </div>

			<div role="tabpanel" class="tab-pane" id="lostbusiness">
				<h2>Lost Business</h2>
                <div>
                    <canvas id="lostbusiness-chart" />
                </div>
				<pre>{{ regrets_data }} {{ denials_data }}</pre>
			</div>

        </div>
    </div>
    
{% endblock %}

{% block scripts %}
	{{ block.super }}
	<script src="{% static "bootstrap-calendar/js/calendar.js" %}"></script>
	<script src="{% static "Chart.bundle.min.js" %}"></script>
	<script src="{% static "DataTables/datatables.min.js" %}"></script>
    <script src="{% static "chosen_v1.6.2/chosen.jquery.min.js" %}"></script>
	<script src="{% static "app.js" %}"></script>
    <script>
        var chartCtx = document.getElementById("chart");
        var myChart = new Chart(chartCtx, {
            type: 'line',
            data: {
                datasets: [
                    {
                        label: 'Tickets Sold',
                        backgroundColor: "rgba(220,000,000,0.5)", 
                        borderColor: "#800", 
                        data: [
                        {% for x, tickets, _sales in curve_data %}
                            {x: {{ x }}, y: {{ tickets }} },
                        {% endfor %}
                        ],
                        borderWidth: 1
                    },
                    {
                        label: 'Revenue',
                        backgroundColor: "rgba(0,220,110,0.0)", 
                        borderColor: "#084",
                        yAxisID: 'right-scale',
                        data: [
                        {% for x, _tickets, sales in curve_data %}
                            {x: {{ x }}, y: {{ sales }} },
                        {% endfor %}
                        ],
                        borderWidth: 1
                    }
                ]
            },
            options: {
                scales: {
                    yAxes: [
                        {
                            ticks: {
                                beginAtZero:true
                            }
                        }, {
                            id: 'right-scale',
                            ticks: {
                                beginAtZero:true
                            },
                            position: 'right'
                        }
                    ],
                    xAxes: [{
						type: 'linear',
						position: 'bottom'
                    }]
                }
            }
        });

        // Lost business
        var lostBusinessCtx = document.getElementById("lostbusiness-chart");
        var lostBusinessChart = new Chart(lostBusinessCtx, {
            type: 'line',
            data: {
                datasets: [
                    {
                        label: 'Regrets',
                        backgroundColor: "rgba(220,000,000,0.5)", 
                        borderColor: "#800", 
                        data: [
                        {% for x, regrets in regrets_data %}
                            {x: {{ x }}, y: {{ regrets }} },
                        {% endfor %}
                        ],
                        borderWidth: 1
                    },
                    {
                        label: 'Denials',
                        backgroundColor: "rgba(0,220,110,0.5)", 
                        borderColor: "#084",
                        data: [
                        {% for x, denials in denials_data %}
                            {x: {{ x }}, y: {{ denials }} },
                        {% endfor %}
                        ],
                        borderWidth: 1
                    }
                ]
            },
            options: {
                scales: {
                    yAxes: [
                        {
                            ticks: {
                                beginAtZero:true
                            }
                        }
                    ],
                    xAxes: [{
						type: 'linear',
						position: 'bottom'
                    }]
                }
            }
        });


        // Pricing chart #1

        var priceChartCtx = document.getElementById("pricing-chart1");
        var myChart = new Chart(priceChartCtx, {
            type: 'line',
            data: {
                datasets: [
                    {% for data in pricing %}
                    {
                        {% if forloop.counter0 == 0 %}
                        label: 'Tickets Sold',
                        backgroundColor: "rgba(000,220,000,0.5)", 
                        borderColor: "#080", 
                        {% else %}
                        label: 'Projected Tickets Sold',
                        backgroundColor: "rgba(220,000,000,0.5)", 
                        borderColor: "#800", 
                        {% endif %}
                        data: [
                        {% for x, tickets, _sales in data %}
                            {x: {{ x }}, y: {{ tickets }} },
                        {% endfor %}
                        ],
                        borderWidth: 1
                    },
                    {% endfor %}
                ]
            },
            options: {
                scales: {
                    yAxes: [
                        {
                            ticks: {
                                beginAtZero:true
                            }
                        }
                    ],
                    xAxes: [{
						type: 'linear',
						position: 'bottom'
                    }]
                }
            }
        });

        // Pricing chart 2
        var myChart = new Chart($('#pricing-chart2')[0], {
            type: 'line',
            data: {
                datasets: [
                    {
                        label: 'Error signal',
                        borderColor: "#080", 
                        yAxisID: 'right-scale',
                        data: [
                        {% for x, tickets in error_data %}
                            {x: {{ x }}, y: {{ tickets }} },
                        {% endfor %}
                        ],
                        borderWidth: 1
                    },
                    {
                        label: 'Total signal',
                        backgroundColor: "rgba(000,220,000,0.5)", 
                        borderColor: "#800", 
                        data: [
                        {% for x, tickets in total_error_data %}
                            {x: {{ x }}, y: {{ tickets }} },
                        {% endfor %}
                        ],
                        borderWidth: 1
                    }
                ]
            },
            options: {
                scales: {
                    yAxes: [
                        {
                            ticks: {
                                beginAtZero:true
                            }
                        }, {
                            id: 'right-scale',
                            ticks: {
                                beginAtZero:true
                            },
                            position: 'right'
                        }
                    ],
                    xAxes: [{
						type: 'linear',
						position: 'bottom'
                    }]
                }
            }
        });


        // Segment chart
        var segmentsCanvas;
        {% for segment, data in item_pt.items %}
            segmentsCanvas = document.createElement('canvas');
            $('#segments-chart-cont').append($('<h3>').text('{{segment}}'));
            $('#segments-chart-cont').append(segmentsCanvas);
            new Chart(segmentsCanvas, {
                type: 'line',
                data: {
                    datasets: [
                        {
                            label: '{{ segment }}',
                            borderColor: '#{% cycle '800' '084' '048' '044' '440' '404'%}',
                            backgroundColor: '#{% cycle '800' '084' '048' '044' '440' '404'%}',
                            data: [ 
                            {% for x, tickets, _sales in data %}
                                {x: {{ x }}, y: {{ tickets }} },
                            {% endfor %}
                            ],
                            borderWidth: 1
                        },
                    ]
                },
                options: {
                    scales: {
                        yAxes: [
                            {
                                type: 'linear',
                                stacked: true,
                                ticks: {
                                    beginAtZero:true
                                }
                            }
                        ],
                        xAxes: [{
                            type: 'linear',
                            position: 'bottom'
                        }]
                    }
                }
            });
        {% endfor %}



        // Other setups
        $(function() {
            $('#transaction-data').DataTable();
            $('form select').chosen();
        });
    </script>
{% endblock %}
