{% extends 'base.html' %}

{% load static %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
			<div id="calendar-controls" class="pull-right h2">
				<span class="glyphicon glyphicon glyphicon-arrow-left cal-back"></span>
                &nbsp;
				<span class="glyphicon glyphicon glyphicon-arrow-right cal-forward"></span>
			</div>
            <h1 id="calendar-title"></h1>
            <div class="clearfix"></div>
            <div id="calendar"></div>
        </div>

        <div class="col-md-12">
            <h2>All Events</h2>
            <table class="table">
                <tr>
                    <th>Event Name</th>
                    <th>Date</th>
                </tr>
            {% for ev in events %}
                <tr>
                    <td><a href="{% url 'event_view' ev.id %}">{{ ev.name }}</a></td>
                    <td>{{ ev.start_date }}</td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}

{% block scripts %}
	{{ block.super }}
	<script src="{% static "bootstrap-calendar/js/calendar.js" %}"></script>
	<script>
        var calendar = $("#calendar").calendar({
                tmpl_path: "/static/bootstrap-calendar/tmpls/",
                events_source: "{% url 'events_api' %}",
                onAfterViewLoad: function(view) {
                    $('#calendar-title').text(this.getTitle());
                }
        });

        var prev = function() { calendar.navigate('prev', 'month'); },
            next = function() { calendar.navigate('next', 'month'); };
        $('.cal-back').click(prev);
        $('.cal-forward').click(next);
        $(window).keydown(function(ev) {
            if (ev.which === 39) {
                next();
            } else if (ev.which === 37) {
                prev();
            }
        });
    </script>
{% endblock %}
