/* General overrides of styles */

#calendar-controls span {
    cursor: pointer;
}

#calendar-event-detail .cal-month-day {
    height: auto;
}

#calendar-event-detail .cal-year-box [class*="span"], #calendar-event-detail .cal-month-box [class*="cal-cell"] {
    min-height: 0;
}

#calendar-event-detail .cal-month-box .cal-day-today span[data-cal-date] {
    font-size: inherit;
}

.navbar {
    border-radius: 0;
    box-shadow: 0px 1px 3px #888;
}

.navbar-brand {
    padding: 0;
}

pre {
    display: none;
}
